@model IEnumerable<Demo_Web.Models.SanPham>
<!DOCTYPE html>
<html>
<head>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

            .card button:hover {
                opacity: 0.7;
            }
    </style>
</head>
<body>

    <h2 style="text-align:center">Product Card</h2>
    <div style="display:flex;">
        @foreach (var item in Model)
        {
            <div class="card">

                <img src="@Url.Content(item.ImagePath)" alt="Denim Jeans" style="width:100%">
                <h1>@item.NamePro</h1>
                <p class="price">@item.Price</p>
                <p>@item.Descriptions.</p>


            </div>
        }
    </div>
   
    </body>
</html>
